{% extends 'base.html' %}
{% block title %}О нас{% endblock %}
{% block content %}
    <div class="row my-5">
        <div class="col-12">
            <h1 class="mb-4 text-center">О нас</h1>
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="mb-3">D_СТРОЙ</h3>
                    <p class="lead">Магазин D_Строй, ваш надёжный поставщик строительных инструментов. У нас вы найдёте всё необходимое для ремонта и строительства по доступным ценам.</p>
                    
                    <h3 class="mb-3">Контакты</h3>
                    <ul class="list-unstyled">
                        <li><strong>Телефон:</strong> +7 (928) 894-47-77</li>
                        <li><strong>Email:</strong> D_stroy95@mail.ru</li>
                        <li><strong>Адрес:</strong> г. Грозный, Петропавловское шоссе, д. 82</li>
                    </ul>

                    <h3 class="mb-3">Как добраться</h3>
                    <p>Мы находимся рядом с АЗС "Роща".</p>
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2901.158050771056!2d45.73061667654271!3d43.35280447180721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4051d0e32745573d%3A0x46643d6529679673!2z0J_QtdGC0YDQvtC_0LDQstC70L7QstGB0LrQvtC1INGILiwgODIsINCT0YDQvtC30L3Ri9C5LCDQp9C10YfQtdC90YHQutCw0Y8g0KDQtdGB0L8uLCAzNjYwMDc!5e0!3m2!1sru!2sru!4v1740135928714!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}